<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cr.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.cr.domain.User" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="CHAR" />
    <result column="password" property="password" jdbcType="CHAR" />
    <result column="idcard" property="idcard" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="homestead" property="homestead" jdbcType="INTEGER" />
    <result column="land" property="land" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="role" property="role" jdbcType="CHAR" />
    <result column="delflag" property="delflag" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="photo" property="photo" jdbcType="VARCHAR" />
    <result column="message" property="message" jdbcType="VARCHAR" />
    <result column="worktime" property="worktime" jdbcType="INTEGER" />
    <result column="householder" property="householder" jdbcType="CHAR" />
    <result column="marriage" property="marriage" jdbcType="CHAR" />
    <result column="education" property="education" jdbcType="CHAR" />
    <result column="occupation" property="occupation" jdbcType="CHAR" />
    <result column="nation" property="nation" jdbcType="CHAR" />
    <result column="sex" property="sex" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, password, idcard, phone, address, birthday, homestead, land, status, role, 
    delflag, createtime, photo, message, worktime, householder, marriage, education, 
    occupation, nation
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cr.domain.UserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user
    where id = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.cr.domain.UserExample" >
    delete from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cr.domain.User" >
    insert into user (id, name, password, idcard, 
      phone, address, birthday, 
      homestead, land, status, 
      role, delflag, createtime, 
      photo, message, worktime, 
      householder, marriage, education, 
      occupation, nation,sex)
    values (#{id,jdbcType=CHAR}, #{name,jdbcType=CHAR}, #{password,jdbcType=CHAR}, #{idcard,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, 
      #{homestead,jdbcType=INTEGER}, #{land,jdbcType=INTEGER}, #{status,jdbcType=CHAR}, 
      #{role,jdbcType=CHAR}, #{delflag,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{photo,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR}, #{worktime,jdbcType=INTEGER}, 
      #{householder,jdbcType=CHAR}, #{marriage,jdbcType=CHAR}, #{education,jdbcType=CHAR}, 
      #{occupation,jdbcType=CHAR}, #{nation,jdbcType=CHAR}, #{sex,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cr.domain.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="idcard != null" >
        idcard,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="homestead != null" >
        homestead,
      </if>
      <if test="land != null" >
        land,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="role != null" >
        role,
      </if>
      <if test="delflag != null" >
        delflag,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="photo != null" >
        photo,
      </if>
      <if test="message != null" >
        message,
      </if>
      <if test="worktime != null" >
        worktime,
      </if>
      <if test="householder != null" >
        householder,
      </if>
      <if test="marriage != null" >
        marriage,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="occupation != null" >
        occupation,
      </if>
      <if test="nation != null" >
        nation,
      </if>
       <if test="sex != null" >
        sex,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=CHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=CHAR},
      </if>
      <if test="idcard != null" >
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="homestead != null" >
        #{homestead,jdbcType=INTEGER},
      </if>
      <if test="land != null" >
        #{land,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="role != null" >
        #{role,jdbcType=CHAR},
      </if>
      <if test="delflag != null" >
        #{delflag,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="photo != null" >
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="worktime != null" >
        #{worktime,jdbcType=INTEGER},
      </if>
      <if test="householder != null" >
        #{householder,jdbcType=CHAR},
      </if>
      <if test="marriage != null" >
        #{marriage,jdbcType=CHAR},
      </if>
      <if test="education != null" >
        #{education,jdbcType=CHAR},
      </if>
      <if test="occupation != null" >
        #{occupation,jdbcType=CHAR},
      </if>
      <if test="nation != null" >
        #{nation,jdbcType=CHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cr.domain.UserExample" resultType="java.lang.Integer" >
    select count(*) from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=CHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=CHAR},
      </if>
      <if test="record.idcard != null" >
        idcard = #{record.idcard,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.birthday != null" >
        birthday = #{record.birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="record.homestead != null" >
        homestead = #{record.homestead,jdbcType=INTEGER},
      </if>
      <if test="record.land != null" >
        land = #{record.land,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.role != null" >
        role = #{record.role,jdbcType=CHAR},
      </if>
      <if test="record.delflag != null" >
        delflag = #{record.delflag,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.photo != null" >
        photo = #{record.photo,jdbcType=VARCHAR},
      </if>
      <if test="record.message != null" >
        message = #{record.message,jdbcType=VARCHAR},
      </if>
      <if test="record.worktime != null" >
        worktime = #{record.worktime,jdbcType=INTEGER},
      </if>
      <if test="record.householder != null" >
        householder = #{record.householder,jdbcType=CHAR},
      </if>
      <if test="record.marriage != null" >
        marriage = #{record.marriage,jdbcType=CHAR},
      </if>
      <if test="record.education != null" >
        education = #{record.education,jdbcType=CHAR},
      </if>
      <if test="record.occupation != null" >
        occupation = #{record.occupation,jdbcType=CHAR},
      </if>
      <if test="record.nation != null" >
        nation = #{record.nation,jdbcType=CHAR},
      </if>
       <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user
    set id = #{record.id,jdbcType=CHAR},
      name = #{record.name,jdbcType=CHAR},
      password = #{record.password,jdbcType=CHAR},
      idcard = #{record.idcard,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      birthday = #{record.birthday,jdbcType=TIMESTAMP},
      homestead = #{record.homestead,jdbcType=INTEGER},
      land = #{record.land,jdbcType=INTEGER},
      status = #{record.status,jdbcType=CHAR},
      role = #{record.role,jdbcType=CHAR},
      delflag = #{record.delflag,jdbcType=INTEGER},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      photo = #{record.photo,jdbcType=VARCHAR},
      message = #{record.message,jdbcType=VARCHAR},
      worktime = #{record.worktime,jdbcType=INTEGER},
      householder = #{record.householder,jdbcType=CHAR},
      marriage = #{record.marriage,jdbcType=CHAR},
      education = #{record.education,jdbcType=CHAR},
      occupation = #{record.occupation,jdbcType=CHAR},
      nation = #{record.nation,jdbcType=CHAR},
      sex = #{record.sex,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cr.domain.User" >
    update user
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=CHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=CHAR},
      </if>
      <if test="idcard != null" >
        idcard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="homestead != null" >
        homestead = #{homestead,jdbcType=INTEGER},
      </if>
      <if test="land != null" >
        land = #{land,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="role != null" >
        role = #{role,jdbcType=CHAR},
      </if>
      <if test="delflag != null" >
        delflag = #{delflag,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="photo != null" >
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="worktime != null" >
        worktime = #{worktime,jdbcType=INTEGER},
      </if>
      <if test="householder != null" >
        householder = #{householder,jdbcType=CHAR},
      </if>
      <if test="marriage != null" >
        marriage = #{marriage,jdbcType=CHAR},
      </if>
      <if test="education != null" >
        education = #{education,jdbcType=CHAR},
      </if>
      <if test="occupation != null" >
        occupation = #{occupation,jdbcType=CHAR},
      </if>
      <if test="nation != null" >
        nation = #{nation,jdbcType=CHAR},
      </if>
       <if test="sex != null" >
        sex = #{sex,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cr.domain.User" >
    update user
    set name = #{name,jdbcType=CHAR},
      password = #{password,jdbcType=CHAR},
      idcard = #{idcard,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      homestead = #{homestead,jdbcType=INTEGER},
      land = #{land,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR},
      role = #{role,jdbcType=CHAR},
      delflag = #{delflag,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      photo = #{photo,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR},
      worktime = #{worktime,jdbcType=INTEGER},
      householder = #{householder,jdbcType=CHAR},
      marriage = #{marriage,jdbcType=CHAR},
      education = #{education,jdbcType=CHAR},
      occupation = #{occupation,jdbcType=CHAR},
      nation = #{nation,jdbcType=CHAR},
      sex = #{sex,jdbcType=CHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
   <!-- 登录 -->
  <select id="login" resultMap="BaseResultMap" parameterType="com.cr.domain.User" >
   SELECT * FROM `user` where name= #{name,jdbcType=CHAR} and password=#{password,jdbcType=CHAR} and role=#{role,jdbcType=CHAR} and delflag!=1
  </select>
  <!-- 显示人口信息 -->
  <select id="userMessage" resultMap="BaseResultMap"  >
   SELECT * FROM `user` where   `password` is null and delflag!=1 ORDER BY CONVERT(name USING gbk)
  </select>
  <!-- 查看一个人的具体信息 -->
  <select id="selUserMessage" resultMap="BaseResultMap"  parameterType="java.lang.String">
   SELECT * FROM `user` where   id=#{id,jdbcType=CHAR} and delflag!=1 
  </select>
  <!-- 查看一个人的家庭信息 -->
  <select id="selUserHome" resultMap="BaseResultMap"  >
   SELECT * FROM `user` where   id!=#{id,jdbcType=CHAR} and address=#{address,jdbcType=VARCHAR} and delflag!=1 
  </select>
  <!--新生-->
  <select id="selBorn" resultMap="BaseResultMap"  parameterType="java.lang.String">
  SELECT * FROM `user` where  DATE_FORMAT(birthday,'%Y') = DATE_FORMAT(NOW(),'%Y') and delflag!=1  and password is null;
  </select>
  <!--死亡-->
  <select id="selDeath" resultMap="BaseResultMap" >
  SELECT * FROM `user` where  status="已故" and delflag!=1  and password is null;
  </select>
  <!--在住-->
  <select id="selLive" resultMap="BaseResultMap" >
  SELECT * FROM `user` where  status="在住" and delflag!=1  and password is null;
  </select>
  <!--离村-->
  <select id="selStay" resultMap="BaseResultMap" >
  SELECT * FROM `user` where  status="离村" and delflag!=1  and password is null;
  </select>
  <!-- 领导 -->
  <select id="leader" resultMap="BaseResultMap" >
  SELECT * FROM `user` where role!="admin" and role!="村民" and delflag!=1;
  </select>
   <!-- 查该职位是否已存在 -->
  <select id="selLeader" resultMap="BaseResultMap"  >
   SELECT * FROM `user` where   id!=#{id,jdbcType=CHAR} and role=#{role,jdbcType=VARCHAR} and role!="村民" and delflag!=1 
  </select>
  <!-- 查看户籍信息 -->
  <select id="selHome" resultMap="BaseResultMap" >
   SELECT * FROM `user` where  householder = "户主" and delflag!=1 order by CONVERT(name USING gbk)
  </select>
  <!-- 查看一家是否有户主存在 -->
  <select id="selHouseholder" resultMap="BaseResultMap"  >
   SELECT * FROM `user` where id!=#{id,jdbcType=CHAR} and address=#{address,jdbcType=VARCHAR} and householder=#{householder,jdbcType=CHAR}; 
  </select>
</mapper>