<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cr.dao.BusinessMapper" >
  <resultMap id="BaseResultMap" type="com.cr.domain.Business" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="y" property="y" jdbcType="VARCHAR" />
    <result column="x" property="x" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="company_name" property="companyName" jdbcType="CHAR" />
    <result column="company_leader" property="companyLeader" jdbcType="CHAR" />
    <result column="scale" property="scale" jdbcType="INTEGER" />
    <result column="revenue" property="revenue" jdbcType="CHAR" />
    <result column="taxes" property="taxes" jdbcType="CHAR" />
    <result column="logo" property="logo" jdbcType="VARCHAR" />
    <result column="industry" property="industry" jdbcType="CHAR" />
    <result column="is_local" property="isLocal" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.cr.domain.Business" extends="BaseResultMap" >
    <result column="message" property="message" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, y, x, address, company_name, company_leader, scale, revenue, taxes, logo, industry, 
    is_local
  </sql>
  <sql id="Blob_Column_List" >
    message
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.cr.domain.BusinessExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from business
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cr.domain.BusinessExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from business
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from business
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from business
    where id = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.cr.domain.BusinessExample" >
    delete from business
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cr.domain.Business" >
    insert into business (id, y, x, address, 
      company_name, company_leader, scale, 
      revenue, taxes, logo, industry, 
      is_local, message)
    values (#{id,jdbcType=CHAR}, #{y,jdbcType=VARCHAR}, #{x,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{companyName,jdbcType=CHAR}, #{companyLeader,jdbcType=CHAR}, #{scale,jdbcType=INTEGER}, 
      #{revenue,jdbcType=CHAR}, #{taxes,jdbcType=CHAR}, #{logo,jdbcType=VARCHAR}, #{industry,jdbcType=CHAR}, 
      #{isLocal,jdbcType=INTEGER}, #{message,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cr.domain.Business" >
    insert into business
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="y != null" >
        y,
      </if>
      <if test="x != null" >
        x,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="companyLeader != null" >
        company_leader,
      </if>
      <if test="scale != null" >
        scale,
      </if>
      <if test="revenue != null" >
        revenue,
      </if>
      <if test="taxes != null" >
        taxes,
      </if>
      <if test="logo != null" >
        logo,
      </if>
      <if test="industry != null" >
        industry,
      </if>
      <if test="isLocal != null" >
        is_local,
      </if>
      <if test="message != null" >
        message,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="y != null" >
        #{y,jdbcType=VARCHAR},
      </if>
      <if test="x != null" >
        #{x,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=CHAR},
      </if>
      <if test="companyLeader != null" >
        #{companyLeader,jdbcType=CHAR},
      </if>
      <if test="scale != null" >
        #{scale,jdbcType=INTEGER},
      </if>
      <if test="revenue != null" >
        #{revenue,jdbcType=CHAR},
      </if>
      <if test="taxes != null" >
        #{taxes,jdbcType=CHAR},
      </if>
      <if test="logo != null" >
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="industry != null" >
        #{industry,jdbcType=CHAR},
      </if>
      <if test="isLocal != null" >
        #{isLocal,jdbcType=INTEGER},
      </if>
      <if test="message != null" >
        #{message,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cr.domain.BusinessExample" resultType="java.lang.Integer" >
    select count(*) from business
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update business
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.y != null" >
        y = #{record.y,jdbcType=VARCHAR},
      </if>
      <if test="record.x != null" >
        x = #{record.x,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.companyName != null" >
        company_name = #{record.companyName,jdbcType=CHAR},
      </if>
      <if test="record.companyLeader != null" >
        company_leader = #{record.companyLeader,jdbcType=CHAR},
      </if>
      <if test="record.scale != null" >
        scale = #{record.scale,jdbcType=INTEGER},
      </if>
      <if test="record.revenue != null" >
        revenue = #{record.revenue,jdbcType=CHAR},
      </if>
      <if test="record.taxes != null" >
        taxes = #{record.taxes,jdbcType=CHAR},
      </if>
      <if test="record.logo != null" >
        logo = #{record.logo,jdbcType=VARCHAR},
      </if>
      <if test="record.industry != null" >
        industry = #{record.industry,jdbcType=CHAR},
      </if>
      <if test="record.isLocal != null" >
        is_local = #{record.isLocal,jdbcType=INTEGER},
      </if>
      <if test="record.message != null" >
        message = #{record.message,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update business
    set id = #{record.id,jdbcType=CHAR},
      y = #{record.y,jdbcType=VARCHAR},
      x = #{record.x,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      company_name = #{record.companyName,jdbcType=CHAR},
      company_leader = #{record.companyLeader,jdbcType=CHAR},
      scale = #{record.scale,jdbcType=INTEGER},
      revenue = #{record.revenue,jdbcType=CHAR},
      taxes = #{record.taxes,jdbcType=CHAR},
      logo = #{record.logo,jdbcType=VARCHAR},
      industry = #{record.industry,jdbcType=CHAR},
      is_local = #{record.isLocal,jdbcType=INTEGER},
      message = #{record.message,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update business
    set id = #{record.id,jdbcType=CHAR},
      y = #{record.y,jdbcType=VARCHAR},
      x = #{record.x,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      company_name = #{record.companyName,jdbcType=CHAR},
      company_leader = #{record.companyLeader,jdbcType=CHAR},
      scale = #{record.scale,jdbcType=INTEGER},
      revenue = #{record.revenue,jdbcType=CHAR},
      taxes = #{record.taxes,jdbcType=CHAR},
      logo = #{record.logo,jdbcType=VARCHAR},
      industry = #{record.industry,jdbcType=CHAR},
      is_local = #{record.isLocal,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cr.domain.Business" >
    update business
    <set >
      <if test="y != null" >
        y = #{y,jdbcType=VARCHAR},
      </if>
      <if test="x != null" >
        x = #{x,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=CHAR},
      </if>
      <if test="companyLeader != null" >
        company_leader = #{companyLeader,jdbcType=CHAR},
      </if>
      <if test="scale != null" >
        scale = #{scale,jdbcType=INTEGER},
      </if>
      <if test="revenue != null" >
        revenue = #{revenue,jdbcType=CHAR},
      </if>
      <if test="taxes != null" >
        taxes = #{taxes,jdbcType=CHAR},
      </if>
      <if test="logo != null" >
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="industry != null" >
        industry = #{industry,jdbcType=CHAR},
      </if>
      <if test="isLocal != null" >
        is_local = #{isLocal,jdbcType=INTEGER},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.cr.domain.Business" >
    update business
    set y = #{y,jdbcType=VARCHAR},
      x = #{x,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=CHAR},
      company_leader = #{companyLeader,jdbcType=CHAR},
      scale = #{scale,jdbcType=INTEGER},
      revenue = #{revenue,jdbcType=CHAR},
      taxes = #{taxes,jdbcType=CHAR},
      logo = #{logo,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=CHAR},
      is_local = #{isLocal,jdbcType=INTEGER},
      message = #{message,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cr.domain.Business" >
    update business
    set y = #{y,jdbcType=VARCHAR},
      x = #{x,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=CHAR},
      company_leader = #{companyLeader,jdbcType=CHAR},
      scale = #{scale,jdbcType=INTEGER},
      revenue = #{revenue,jdbcType=CHAR},
      taxes = #{taxes,jdbcType=CHAR},
      logo = #{logo,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=CHAR},
      is_local = #{isLocal,jdbcType=INTEGER}
    where id = #{id,jdbcType=CHAR}
  </update>
  <!-- 查本地企业 -->
   <select id="selBusiness1" resultMap="BaseResultMap" >
  SELECT * FROM `business` where is_local = 0;
  </select>
  <!-- 查外地企业 -->
   <select id="selBusiness2" resultMap="BaseResultMap" >
  	SELECT * FROM `business` where is_local = 1;
  </select>
</mapper>